@charset "UTF-8";

body{
    background-color: #0FC2C0;
}

#principal{
    text-align: center;
    background-color: #023535;
    color: #008F8C;
    border-radius: 20px;
}

.basico{
    color: #0cb631;
    font-weight: bold;
   
}

.intermediario{
    color: rgb(184, 184, 17);
}

.avançado{
    color: red;
}
    
