@charset "UTF-8";

/* Typical Device Breakpoints tirados do W3C
----------------------
Pequenas telas: até 600px
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Dekstop: 992px ate 1200px
Grandes telas: acima de 1200px 
*/

@media  screen and (min-width:768px) {
    #menu {
        display: none;
    }

    menu{
        display: block;
    }

    menu li{
        display: inline-block; ;/* Deixei um do lado do outro */
    }

    main{
        width: 768px;
    }

}